<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.leo.knifealarm">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

        <activity android:name="com.leo.knifealarm.view.AlarmSettingActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|screenSize|orientation"
            android:theme="@style/AlarmSettingTheme"/>

        <activity android:name="com.leo.knifealarm.view.AlarmSelectingRingAvtivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|screenSize|orientation"
            android:theme="@style/AlarmSettingTheme"/>

        <receiver android:name="com.leo.knifealarm.KnifeAlarmReceiver">
            <intent-filter>
                <action android:name="com.leo.knifealarm.ALARM_ACTION"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
